.containerDebt {
  background-color: #2626af;
  color: white;
  padding: 20px;
  font-size: 1rem;
  line-height: 1.6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.visible {
  opacity: 1;
  visibility: visible;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 5px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 20px;
}

.endividada-img {
 width: 300px;
  max-width: 400px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.endividada-img:hover {
  transform: scale(1.2);
}

@media (max-width: 800px) {
  .containerDebt {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
