.contentForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 30%;
    margin-top: 5%;
    margin-left: 5%;
}

.test {
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 50%;
    align-items: flex-start;

}


