

.listGreen .Description,
.listGray .Description,
.listGreen .Type,
.listGray .Type,
.listGreen .Value,
.listGray .Value {
  max-width: 80%; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
}


.Ul-Father {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.List {
  width: 80vh;
  margin-bottom: 5%;
  border-radius: 0.5rem;
  word-break: break-word; 
}

.listGreen {
  width: 80vh;
  max-width: 100%;
  min-width: 200px; 
  height: 4rem;
  background-color: #27b57e;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.listGray {
  width: 80vh;
  max-width: 100%;
  min-width: 200px; 
  height: 4rem;
  background-color: #f8f9fa;
  border-left: 0.25rem solid rgb(187, 180, 187);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Description-Wrapper {
  display: flex;
  width: 50%;
  flex-direction: row;
  gap: 20%;
}

.buttonTrash {
  width: 16px;
}


@media (max-width: 800px) {
  .listGreen,
  .listGray {
    width: 50vh;
    margin: 0.5rem 0; 
  }

  .Description-Wrapper {
    gap: 10%;
  }
}
