li {
    list-style: none;
  }
  
  .List-Border-Green {
    width: 33.7rem;
    height: 4rem;
    background-color: #00d443;
    border-left: 0.25rem solid rgb(187, 180, 187);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .List-Border-Gray {
    width: 33.7rem;
    height: 4rem;
    background-color: #f8f9fa;
    border-left: 0.25rem solid rgb(187, 180, 187);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .Description-Wrapper {
    display: flex;
    flex-direction: row;
    gap: 20%;
  }

  .List {
    width: 100%;
    margin-bottom: 5%;
    border-radius: 0.5rem;
    background-color: gray;
  }
  
  .Ul-Father {
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    /* height: 100vh; */
    /* margin-left: 41.25rem; */
    /* margin-top: -20.625rem; */
    align-items: center;
    justify-content: center;
  }