
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
}

.Name {
  color: white;
}
.Menu-Home {
  width: 50%;
}

.Button-Page {
  position: fixed;
  margin-left: -62rem;
  margin-top: 24rem;
  width: 15.5rem;
  height: 4.6rem;
  border-radius: 22px;
  color: white;
  background: #fd377e;
  border: none;
  cursor: pointer;
}
