.container-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 20%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  color: #717171;
  overflow: hidden;
}
@media(max-width:800px){
    .container-block {
        width: 80%;
    }
}

.paragraph
{
    color: #ffaf35;
}

.container-block:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.info {
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
}
