.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background: #2626af;
  gap: 8%;
  width: 100%;
  height: 100dvh;
}

.content-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 75%;
}

.content-second {
  display: flex;
    flex-direction: row;
    font-style: italic;
    align-items: center;
    gap: 8%;
}
.block-one{
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (max-width: 800px) {

  .content-second{
    display: flex;
    flex-direction: column;
  }
  .content-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 75%;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    height: auto;
    background: #2626af;
    gap: 15%;
  }
}

.imagem-principal {
  width: 200px;
}

.name {
  font-weight: 600;
  font-size: x-large;
}

.text {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-size: 4vh;
}

.second-text {
  font-size: 1.8vh;
}

@media (max-width: 800px) {
  .Button-Page {
    margin-left: -8rem;
    margin-top: 5rem;
  }
}
