.HeaderCard{
    width: 84.25rem;
    margin-left: -12px;
    height: 5.688rem;
    margin-top: -2.313rem;
    box-shadow:2.937rem -4.813rem 6.25rem black;
    position: static;
}
.Img-Button {
    cursor: pointer;
}
.Button-None{
    background-color: transparent;
    border: none;
}

.Img-NuKenzie {
    margin-left: 14.75rem;
    margin-bottom: -1.063rem;
}
.Img-Home{
    margin-left: 48rem;
    margin-bottom: -2rem;
    position: absolute;
    cursor: pointer;
}