.noItems {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    margin-left: 3vh;
}

.release{
    font-weight: bold;
}