.reduce {
  width: 100%;
  max-width: 21.875rem;
  height: 6.25rem;
  background-color: white;
  margin-top: 3.25vw;
  margin-left: 9vw;
  margin-right: 9vw;
  color: black;
  border: 1px solid #e9ecef;
  display: flex;
  flex-direction: column;
}

@media (min-width: 800px) {
  .reduce {
    margin-top: 1.625rem;
    margin-left: 14.75rem;
    margin-right: 0;
  }
}

/*Names Reduce*/
.firstSpan {
  margin-top: 2rem;
  margin-left: 1rem;
}

.secondSpan {
  color: #fd377e;
  margin-left: 11rem;
  font-weight: 700;
}

.message {
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: #5b6166;
  font-size: 0.75rem;
}
