.reduce {
  height: 20%;
  margin-left: 5%;
  max-width: 25%;
  margin-top: 2%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .reduce {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 0;
  }
}

.firstSpan {
  margin-top: 2vw;
  margin-left: 1vw;
}

.secondSpan {
  color: #fd377e;
  margin-left: 11vw;
  font-weight: 700;
}

.message {
  margin-left: 1vw;
  margin-bottom: 2vw;
  margin-top: 1.5vw;
  color: #5b6166;
  font-size: 0.75rem;
}
