.reduce {
  height: 20%;
  max-width: 25%;
  margin: 2% 5% 0;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
}

.firstSpan {
  margin: 2vw 1vw 0;
}

.secondSpan {
  color: #fd377e;

  font-weight: 700;
}

.message {
  margin: 1.5vw 1vw 2vw;
  color: #5b6166;
  font-size: 0.75rem;
}


@media (max-width: 800px) {
  .reduce {
    height: auto;
    max-width: 100%;
    margin: 5% 10% 0;
  }

  .firstSpan {
    margin: 2vw 1vw 0;
  }

  .secondSpan {
    margin: 0;
  }

  .message {
    margin: 1.5vw 1vw 2vw;
  }
}